DATABASE_URL=[connection string for your PostgreSQL database on Supabase]
DATA_SOURCE=[where your raw data zip file is located, e.g. /path/to/people_counting_data.zip]
DATA_DIR=[where you want to extract the raw data]